
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Only games rated 4 or 5 allowed here</h1>
        <%if (dataArray != null) { %>
       
            <ul class="list-group">
                <% for(var i=0; i<dataArray.length; i++) {%>
                    <%if (dataArray[i].rating > 3) {%>
                    <li class="list-group-item"><%= "Title:  " + dataArray[i].id + " Date: " + dataArray[i].date + " Rating: " + dataArray[i].rating %></li>
                    <%}%>
                <% } %>
              </ul>
    
            <% } %>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>



